@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.metamask-logo {
  background-image: conic-gradient(
    from var(--angle),
    #f97316,
    #d97706,
    #111827
  );
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
